.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 8px;
    padding-right: 25px;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    
}